# Building and releasing library:
*.egg-info
*.pyc
*.so
build/
dist/
venv/
checkpoints/

# Mac OS
.DS_Store

# Python tools
.mypy_cache/
.pytype/
.ipynb_checkpoints

# Editors
.idea
.vscode

check_spec.py
debug_checkpoint.py
matlab.mplstyle
logs
